# Michael Fang

### Research question/interests:
## **What weeks are Walmart the most/least profitable, and do holidays significantly impact these sales? In what direction?**
######
this research question allows us to obtain a general understanding of Walmart's operating performance change throughout the year, and theorize the trend of profit. The way I will do this analysis is first to combine the data within each store location together according to weeks into one data, and consolidate a new datasheet. After that, I will organize the data ranking weekly sales from highest to lowest to showcase the general trend of sales change. There might potentially be a week that the revenue is exceptionally high for all three years monetized. Furthermore, I will add the information regarding holidays and see whether it has a correlation with higher sales.

In [ ]:
import pandas as pd

ds = pd.read_csv('../data/raw/Walmart.csv')
ds

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667